
* {
    margin: 0;
    padding: 0;
}
.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
/* sared style */
.dark-1 {
    color: #181818;
}
.dark-2 {
    color: #474747;
}
.dark-3 {
    color: #757575;
}
.text-primary {
    color: #FD6E0A;
}
.btn-primary {
    color: #fff;
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 18px;
    border-radius: 5px;
    border-style: none;
}
/* header */
.header {
    background-image: url("../images/developer.png"), url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-left: 51px;
}
nav ul li a {
    text-decoration: none;
    font-size: 20px;
}
/* banner styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content {
    max-width: 585px;
}
.banner-gretings {
    font-size: 45px;
    font-weight: 600;
}
.banner-title {
    font-size: 85px;
    font-weight: bold;
}
.banner-portfolio-img {
    min-width: 584px;
}